# Julia Academy

# 4. Grouping Rows in a Dataframe

**Bogumił Kamiński**

**Source:** https://github.com/JuliaAcademy/DataFrames/blob/main/4.%20Grouping%20data%20frames.ipynb

We will learn to how to group rows in a dataframe.

The data we will use is the `auto2.csv` and `auto2.arrow` files created from the previous notebook, [3 Working with Textfile](3_working_with_textfiles.ipynb):

In [1]:
using DataFrames
using CSV
using Arrow
using Statistics
using FreqTables
using Pipe

In [2]:
ENV["LINES"], ENV["COLUMNS"] = 15, 200

(15, 200)

Let's load the cleaned data as a dataframe now:

In [3]:
df = CSV.File("auto2.csv") |> DataFrame

392×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name                       brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String                     String
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    18.0        8.0         307.0       130.0   3504.0          12.0     70.0      1.0  chevrolet chevelle malibu  chevrolet
   2 │    15.0        8.0         350.0       165.0   3693.0          11.5     70.0      1.0  buick skylark 320          buick
   3 │    18.0        8.0         318.0       150.0   3436.0          11.0     70.0      1.0  plymouth satellite         plymouth
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                 ⋮                  ⋮
 390 │    32.0        4.0         135.0        84.0   2295.0          11.6     82.0      1.0  dodge rampage              dodge
 391 │    28.0        4.0         120.0        79.0   2625.0          18.6     82.0      1.0  ford ranger                ford
 392 │    31.0        4.0         119.0        82.0   2720.0          19.4     82.0      1.0  chevy s-10                 chevy
                                                                                                                   386 rows omitted

Why do we also have the apache arrow file? For Julia -> Julia IO, Apache Arrow is the preferred format for storing dataframes as files:

In [5]:
df2 = Arrow.Table("auto2.arrow") |> DataFrame
df == df2

true

But note that to ensure maximum speed, this implementation uses its own `AbstractVector` type:

In [6]:
df2.mpg

392-element Arrow.Primitive{Float64,Array{Float64,1}}:
 18.0
 15.0
 18.0
 16.0
 17.0
  ⋮
 27.0
 44.0
 32.0
 28.0
 31.0

If we wanted these columns to be standard `Vectors`, we can just do a copy:

In [7]:
df3 = copy(df2)
df3.mpg

392-element Array{Float64,1}:
 18.0
 15.0
 18.0
 16.0
 17.0
  ⋮
 27.0
 44.0
 32.0
 28.0
 31.0

## Grouping: Group by Brand

Let's group the data by brand and see what aggregations (summarizations or _integrations_) we can do. In `DataFrames.jl` it is easy to create a grouped object which we can refer to and interpret:

In [9]:
gdf = groupby(df, :brand)

GroupedDataFrame with 37 groups based on key: brand
First Group (43 rows): brand = "chevrolet"
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name                       brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String                     String
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    18.0        8.0         307.0       130.0   3504.0          12.0     70.0      1.0  chevrolet chevelle malibu  chevrolet
   2 │    14.0        8.0         454.0       220.0   4354.0           9.0     70.0      1.0  chevrolet impala           chevrolet
   3 │    15.0        8.0         400.0       150.0   3761.0           9.5     70.0      1.0  chevrolet monte carlo      chevrolet
   4 │    28.0        4.0         140.0        90.0   2264.0          15.5     71.0      1.0  chevrolet vega 2300        chevrolet
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                 ⋮                  ⋮
  41 │    27.0        4.0         112.0        88.0   2640.0          18.6     82.0      1.0  chevrolet cavalier wagon   chevrolet
  42 │    34.0        4.0         112.0        88.0   2395.0          18.0     82.0      1.0  chevrolet cavalier 2-door  chevrolet
  43 │    27.0        4.0         151.0        90.0   2950.0          17.3     82.0      1.0  chevrolet camaro           chevrolet
                                                                                                                    36 rows omitted
⋮
Last Group (1 row): brand = "nissan"
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name              brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String            String
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    36.0        4.0         120.0        88.0   2160.0          14.5     82.0      3.0  nissan stanza xe  nissan

Essentially we have indexed the dataframe according to the `:brand` column:

In [11]:
gdf[("ford",)]  # we have to pass a tuple to the grouped object incase we group by more than one variable

48×10 SubDataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name                      brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String                    String
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    17.0        8.0         302.0       140.0   3449.0          10.5     70.0      1.0  ford torino               ford
   2 │    15.0        8.0         429.0       198.0   4341.0          10.0     70.0      1.0  ford galaxie 500          ford
   3 │    21.0        6.0         200.0        85.0   2587.0          16.0     70.0      1.0  ford maverick             ford
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                ⋮                ⋮
  46 │    22.0        6.0         232.0       112.0   2835.0          14.7     82.0      1.0  ford granada l            ford
  47 │    27.0        4.0         140.0        86.0   2790.0          15.6     82.0      1.0  ford mustang gl           ford
  48 │    28.0        4.0         120.0        79.0   2625.0          18.6     82.0      1.0  ford ranger               ford
                                                                                                                42 rows omitted

## Aggregate using combine:

In [16]:
brand_mpg = combine(gdf, :mpg => mean)

37×2 DataFrame
 Row │ brand          mpg_mean
     │ String         Float64
─────┼─────────────────────────
   1 │ chevrolet       20.4721
   2 │ buick           19.1824
   3 │ plymouth        21.7032
  ⋮  │       ⋮           ⋮
  35 │ vokswagen       29.8
  36 │ triumph         35.0
  37 │ nissan          36.0
                31 rows omitted

We can specify the target column name using a second mapping:

```julia
source column  => transformation => target column
```

In [17]:
combine(gdf, :mpg => mean => :mean_mpg)

37×2 DataFrame
 Row │ brand          mean_mpg
     │ String         Float64
─────┼─────────────────────────
   1 │ chevrolet       20.4721
   2 │ buick           19.1824
   3 │ plymouth        21.7032
  ⋮  │       ⋮           ⋮
  35 │ vokswagen       29.8
  36 │ triumph         35.0
  37 │ nissan          36.0
                31 rows omitted

Let's sort the dataframe  by mean mpg:

In [18]:
ENV["LINES"] = 50   # so we can see all the brand rows

50

In [19]:
sort!(brand_mpg, :mpg_mean, rev=true)  # highest is best

37×2 DataFrame
 Row │ brand          mpg_mean
     │ String         Float64
─────┼─────────────────────────
   1 │ vw              39.0167
   2 │ nissan          36.0
   3 │ triumph         35.0
   4 │ honda           33.7615
   5 │ datsun          31.113
   6 │ mazda           30.86
   7 │ subaru          30.525
   8 │ vokswagen       29.8
   9 │ renault         29.6667
  10 │ volkswagen      29.1067
  11 │ fiat            28.9125
  12 │ toyota          28.372
  13 │ audi            26.7143
  14 │ maxda           26.05
  15 │ opel            25.75
  16 │ mercedes        25.4
  17 │ capri           25.0
  18 │ saab            23.9
  19 │ bmw             23.75
  20 │ peugeot         23.6875
  21 │ mercedes-benz   23.25
  22 │ toyouta         23.0
  23 │ dodge           22.0607
  24 │ plymouth        21.7032
  25 │ volvo           21.1167
  26 │ oldsmobile      21.1
  27 │ chevrolet       20.4721
  28 │ pontiac         20.0125
  29 │ cadillac        19.75
  30 │ ford            19.475
  31 │ buick           19.1824
  32 │ mercury         19.1182
  33 │ amc             18.0704
  34 │ chevy           18.0
  35 │ chrysler        17.2667
  36 │ chevroelt       16.0
  37 │ hi               9.0

## FreqTables.jl

Let's try and understand what origin column means. We can use `FreqTables.jl` to help us quickly count the frequencies of all `origin` values per `brand`:

In [20]:
freqtable(df, :brand, :origin)

37×3 Named Array{Int64,2}
brand ╲ origin │ 1.0  2.0  3.0
───────────────┼──────────────
amc            │  27    0    0
audi           │   0    7    0
bmw            │   0    2    0
buick          │  17    0    0
cadillac       │   2    0    0
capri          │   1    0    0
chevroelt      │   1    0    0
chevrolet      │  43    0    0
chevy          │   3    0    0
chrysler       │   6    0    0
datsun         │   0    0   23
dodge          │  28    0    0
fiat           │   0    8    0
ford           │  48    0    0
hi             │   1    0    0
honda          │   0    0   13
maxda          │   0    0    2
mazda          │   0    0   10
mercedes       │   0    1    0
mercedes-benz  │   0    2    0
mercury        │  11    0    0
nissan         │   0    0    1
oldsmobile     │  10    0    0
opel           │   0    4    0
peugeot        │   0    8    0
plymouth       │  31    0    0
pontiac        │  16    0    0
renault        │   0    3    0
saab           │   0    4    0
subaru         │   0    0    4
toyota         │   0    0   25
toyouta        │   0    0    1
triumph        │   0    1    0
vokswagen      │   0    1    0
volkswagen     │   0   15    0
volvo          │   0    6    0
vw             │   0    6    0

It appears that:

- 1 -> 'North America'
- 2 -> 'Europe'
- 3 -> 'Asia'

## Pipe.jl

It appears that each brand is only assigned one origin value across its models. We can use a `split-apply-combine` approach using `Pipe.jl`. Here `_` denotes the position of the argument which must be passed from the previous step in the chain (just like `dplyr` in R)

In [27]:
orig_brand = @pipe df |>
                   groupby(_, :brand) |> 
                   combine(_, :origin => ( x -> length(unique(x)) ) => :n_origin )

37×2 DataFrame
 Row │ brand          n_origin
     │ String         Int64
─────┼─────────────────────────
   1 │ chevrolet             1
   2 │ buick                 1
   3 │ plymouth              1
   4 │ amc                   1
   5 │ ford                  1
   6 │ pontiac               1
   7 │ dodge                 1
   8 │ toyota                1
   9 │ datsun                1
  10 │ volkswagen            1
  11 │ peugeot               1
  12 │ audi                  1
  13 │ saab                  1
  14 │ bmw                   1
  15 │ chevy                 1
  16 │ hi                    1
  17 │ mercury               1
  18 │ opel                  1
  19 │ fiat                  1
  20 │ oldsmobile            1
  21 │ chrysler              1
  22 │ mazda                 1
  23 │ volvo                 1
  24 │ renault               1
  25 │ toyouta               1
  26 │ maxda                 1
  27 │ honda                 1
  28 │ subaru                1
  29 │ chevroelt             1
  30 │ capri                 1
  31 │ vw                    1
  32 │ mercedes-benz         1
  33 │ cadillac              1
  34 │ mercedes              1
  35 │ vokswagen             1
  36 │ triumph               1
  37 │ nissan                1

Suppose we had a lot more rows. How would we quickly check that the unique value is 1? We can use `extrema` to bound the hypothesis:

In [28]:
extrema(orig_brand.n_origin)

(1, 1)

How can we get the number of models per brand easily? Using `nrow`:

In [36]:
@pipe groupby(df, :brand) |> combine(_, nrow => :n_models)

37×2 DataFrame
 Row │ brand          n_models
     │ String         Int64
─────┼─────────────────────────
   1 │ chevrolet            43
   2 │ buick                17
   3 │ plymouth             31
   4 │ amc                  27
   5 │ ford                 48
   6 │ pontiac              16
   7 │ dodge                28
   8 │ toyota               25
   9 │ datsun               23
  10 │ volkswagen           15
  11 │ peugeot               8
  12 │ audi                  7
  13 │ saab                  4
  14 │ bmw                   2
  15 │ chevy                 3
  16 │ hi                    1
  17 │ mercury              11
  18 │ opel                  4
  19 │ fiat                  8
  20 │ oldsmobile           10
  21 │ chrysler              6
  22 │ mazda                10
  23 │ volvo                 6
  24 │ renault               3
  25 │ toyouta               1
  26 │ maxda                 2
  27 │ honda                13
  28 │ subaru                4
  29 │ chevroelt             1
  30 │ capri                 1
  31 │ vw                    6
  32 │ mercedes-benz         2
  33 │ cadillac              2
  34 │ mercedes              1
  35 │ vokswagen             1
  36 │ triumph               1
  37 │ nissan                1

What if we want each unique value of `origin` to be a column in the dataframe? This will be similar to `freqtable`:

In [38]:
origin_vs_brand = @pipe df |>
                        groupby(_, [:origin, :brand]) |>
                        combine(_, nrow => :n_models) |>
                        unstack(_, :brand, :origin, :n_models)

37×4 DataFrame
 Row │ brand          1.0      3.0      2.0
     │ String         Int64?   Int64?   Int64?
─────┼──────────────────────────────────────────
   1 │ chevrolet           43  missing  missing
   2 │ buick               17  missing  missing
   3 │ plymouth            31  missing  missing
   4 │ amc                 27  missing  missing
   5 │ ford                48  missing  missing
   6 │ pontiac             16  missing  missing
   7 │ dodge               28  missing  missing
   8 │ toyota         missing       25  missing
   9 │ datsun         missing       23  missing
  10 │ volkswagen     missing  missing       15
  11 │ peugeot        missing  missing        8
  12 │ audi           missing  missing        7
  13 │ saab           missing  missing        4
  14 │ bmw            missing  missing        2
  15 │ chevy                3  missing  missing
  16 │ hi                   1  missing  missing
  17 │ mercury             11  missing  missing
  18 │ opel           missing  missing        4
  19 │ fiat           missing  missing        8
  20 │ oldsmobile          10  missing  missing
  21 │ chrysler             6  missing  missing
  22 │ mazda          missing       10  missing
  23 │ volvo          missing  missing        6
  24 │ renault        missing  missing        3
  25 │ toyouta        missing        1  missing
  26 │ maxda          missing        2  missing
  27 │ honda          missing       13  missing
  28 │ subaru         missing        4  missing
  29 │ chevroelt            1  missing  missing
  30 │ capri                1  missing  missing
  31 │ vw             missing  missing        6
  32 │ mercedes-benz  missing  missing        2
  33 │ cadillac             2  missing  missing
  34 │ mercedes       missing  missing        1
  35 │ vokswagen      missing  missing        1
  36 │ triumph        missing  missing        1
  37 │ nissan         missing        1  missing

We can replace missing values using `coalesce`

In [39]:
coalesce.(origin_vs_brand, 0)

37×4 DataFrame
 Row │ brand          1.0    3.0    2.0
     │ String         Int64  Int64  Int64
─────┼────────────────────────────────────
   1 │ chevrolet         43      0      0
   2 │ buick             17      0      0
   3 │ plymouth          31      0      0
   4 │ amc               27      0      0
   5 │ ford              48      0      0
   6 │ pontiac           16      0      0
   7 │ dodge             28      0      0
   8 │ toyota             0     25      0
   9 │ datsun             0     23      0
  10 │ volkswagen         0      0     15
  11 │ peugeot            0      0      8
  12 │ audi               0      0      7
  13 │ saab               0      0      4
  14 │ bmw                0      0      2
  15 │ chevy              3      0      0
  16 │ hi                 1      0      0
  17 │ mercury           11      0      0
  18 │ opel               0      0      4
  19 │ fiat               0      0      8
  20 │ oldsmobile        10      0      0
  21 │ chrysler           6      0      0
  22 │ mazda              0     10      0
  23 │ volvo              0      0      6
  24 │ renault            0      0      3
  25 │ toyouta            0      1      0
  26 │ maxda              0      2      0
  27 │ honda              0     13      0
  28 │ subaru             0      4      0
  29 │ chevroelt          1      0      0
  30 │ capri              1      0      0
  31 │ vw                 0      0      6
  32 │ mercedes-benz      0      0      2
  33 │ cadillac           2      0      0
  34 │ mercedes           0      0      1
  35 │ vokswagen          0      0      1
  36 │ triumph            0      0      1
  37 │ nissan             0      1      0

What if we wanted to get the unique brands per origin? We can store these as a Julia list, but note that we need to use the `Ref` method to prevent `DataFrames` from broadcasting to a long-format dataframe.

In [40]:
origin_brand3 = @pipe df |> 
                      groupby(_, :origin) |>
                      combine(_, :brand => ( x -> Ref(unique(x)) ) => :origin_brands)

3×2 DataFrame
 Row │ origin   origin_brands
     │ Float64  Array…
─────┼────────────────────────────────────────────
   1 │     1.0  ["chevrolet", "buick", "plymouth…
   2 │     3.0  ["toyota", "datsun", "mazda", "t…
   3 │     2.0  ["volkswagen", "peugeot", "audi"…

If we didn't use `Ref` we'd get this:

In [41]:
@pipe df |> 
      groupby(_, :origin) |>
      combine(_, :brand => unique)

37×2 DataFrame
 Row │ origin   brand_unique
     │ Float64  String
─────┼────────────────────────
   1 │     1.0  chevrolet
   2 │     1.0  buick
   3 │     1.0  plymouth
   4 │     1.0  amc
   5 │     1.0  ford
   6 │     1.0  pontiac
   7 │     1.0  dodge
   8 │     1.0  chevy
   9 │     1.0  hi
  10 │     1.0  mercury
  11 │     1.0  oldsmobile
  12 │     1.0  chrysler
  13 │     1.0  chevroelt
  14 │     1.0  capri
  15 │     1.0  cadillac
  16 │     3.0  toyota
  17 │     3.0  datsun
  18 │     3.0  mazda
  19 │     3.0  toyouta
  20 │     3.0  maxda
  21 │     3.0  honda
  22 │     3.0  subaru
  23 │     3.0  nissan
  24 │     2.0  volkswagen
  25 │     2.0  peugeot
  26 │     2.0  audi
  27 │     2.0  saab
  28 │     2.0  bmw
  29 │     2.0  opel
  30 │     2.0  fiat
  31 │     2.0  volvo
  32 │     2.0  renault
  33 │     2.0  vw
  34 │     2.0  mercedes-benz
  35 │     2.0  mercedes
  36 │     2.0  vokswagen
  37 │     2.0  triumph

We can check that the (origin, brand) groups are also pairwise disjoint:

In [43]:
for i in axes(origin_brand3, 1)
    for j in i+1:nrow(origin_brand3)
        println("$i vs $j: ", intersect(origin_brand3.origin_brands[[i,j]]...))
    end
end

1 vs 2: String[]
1 vs 3: String[]
2 vs 3: String[]

If we wanted to flatten the lists in `origin_brands` so that the elements are exposed as rows in a long-format dataframe, we can do the following:

In [44]:
flatten(origin_brand3, :origin_brands)

37×2 DataFrame
 Row │ origin   origin_brands
     │ Float64  String
─────┼────────────────────────
   1 │     1.0  chevrolet
   2 │     1.0  buick
   3 │     1.0  plymouth
   4 │     1.0  amc
   5 │     1.0  ford
   6 │     1.0  pontiac
   7 │     1.0  dodge
   8 │     1.0  chevy
   9 │     1.0  hi
  10 │     1.0  mercury
  11 │     1.0  oldsmobile
  12 │     1.0  chrysler
  13 │     1.0  chevroelt
  14 │     1.0  capri
  15 │     1.0  cadillac
  16 │     3.0  toyota
  17 │     3.0  datsun
  18 │     3.0  mazda
  19 │     3.0  toyouta
  20 │     3.0  maxda
  21 │     3.0  honda
  22 │     3.0  subaru
  23 │     3.0  nissan
  24 │     2.0  volkswagen
  25 │     2.0  peugeot
  26 │     2.0  audi
  27 │     2.0  saab
  28 │     2.0  bmw
  29 │     2.0  opel
  30 │     2.0  fiat
  31 │     2.0  volvo
  32 │     2.0  renault
  33 │     2.0  vw
  34 │     2.0  mercedes-benz
  35 │     2.0  mercedes
  36 │     2.0  vokswagen
  37 │     2.0  triumph